!!! 5
%html
%head
  %title CodeSnips
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  = csrf_meta_tags

%body
  %nav.navbar.navbar-default
    .container
      .navbar-brand= link_to "Codesnips", root_path

      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Snippet", new_recipe_path
        %li= link_to "Sign Out", root_path

    .container
      - flash.each do |name, msg|
        = content_tag :div, msg, classs: "alert"

      = yield
